script.
      var _gaq=[['_setAccount','UA-44959535-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/underscore/underscore-min.js')

script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
script(src="/js/cfh.js")
script(src="/lib/introjs/introjs.js")

//AngularJS
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-resource.js')
script(type='text/javascript', src='https://code.angularjs.org/1.1.5/angular-cookies.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.js')


//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route.js')

//Firebase
script(type='text/javascript', src='https://www.gstatic.com/firebasejs/3.6.6/firebase.js')

//Angular fire
script(type='text/javascript', src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')

//ngStorage for localstorage
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js')
script(type='text/javascript', src='/js/emojionearea.min.js')


//Application Init
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/socket.js')
script(type='text/javascript', src='/js/services/game.js')
script(type='text/javascript', src='/js/services/history.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/game.js')
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/controllers/dashboard.js')
script(type='text/javascript', src='/js/controllers/password.js')


//Socket.io Client Library
script(type='text/javascript', src='/socket.io/socket.io.js')

//Sweet alert
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

//Custom Jquery
//Livereload script rendered
//script(type='text/javascript', src='http://localhost:35729/livereload.js')
