<div id="app-container" ng-controller="GameController">
  <header>
    <div class="navbar-fixed">
      <nav class="main-header white">
        <div class="container nav-wrapper">
          <a href="/#!" class="cfh-logo black-text">
            <img src="../img/cfh-logo.png" alt="cfh-logo" />
          </a>
          <a icon-label="mobile-menu" class="nav-mobile">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <ul class="nav-list right hide-on-med-and-down">
            <li class="nav-item"><a class="" href="/#!">Home</a></li>
            <li class="nav-item"><a href="#!/dashboard" class="modal-trigger" >Dashboard</a></li>
            <li class="nav-item">
              <a target="_blank"
              href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Flocalhost%3A3000%2F%23!%2F&stylesheet=&amounts=">
              <button class="btn brand-btn brand-btn-donate" id="donate-btn">Donate</button></a>
            </li>
          </ul>
        </div>
        <div class="mobile-nav">
          <div class="container" id="mobile-nav"></div>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <!-- czarModal -->
    <div id="czarModal" class="modal">
        <div class="modal-content">
          <p class="center" >You are the Czar - Click a card to pick the next question</p>
            <div ng-click="shuffleCards()" ng-style="{'cursor':'pointer'}" style='margin: auto;'><center>
                <img src='../img/czar.png' style='width: 100px;' class='animated flipInX' id='shufflecard1' />
                <img src='../img/czar.png' style='width: 100px;' class='animated flipInX' id='shufflecard2' />
                <img src='../img/czar.png' style='width: 100px;' class='animated flipInX' id='shufflecard3' />
                <img src='../img/czar.png' style='width: 100px;' class='animated flipInX' id='shufflecard4' />
            </div>
        </div>
      </div>
    <!-- czarModal -->
    <div class="container">
      <div class="control-game">
        <button id="tour-game" class="btn red darken-4" ng-click="startTour()" ng-show="game.joinOverride">
          Take Tour
        </button>
        <button id="abandon-game-button" class="btn red darken-4 right" ng-click="abandonGame()">
          Leave Game
        </button>
      </div>
    </div>
  </div>


  <div class="row">
    <div id="gameplay-container">
      <div id="upper-gameplay-container" class="row center">
        <div id="menu-timeremaining-container" class="col s4 m2" style="background-color: white">
          <div id="timer-container">
            <timer></timer>
          </div>
        </div>
          <div id="question-container-outer" class="col s8 m10">
          <div class="container">
            <question></question>
          </div>
        </div>
      </div>
      <answers></answers>
    </div>
  </div>
</div>
<script type="text/javascript" src="../js/cfh.js"></script>
