<div id="app-container" ng-controller="GameController">
  <header>
    <div class="navbar-fixed center">
      <nav class="main-header white cfh-logo-header">
        <div class="container nav-wrapper">
          <a href="/#!" id="cfh-logo" class="cfh-logo black-text">
            <img src="img/cfh-logo.png" alt="cfh-logo"/>
          </a>
        </div>
      </nav>
    </div>
  </header>
  <div class="row">
    <div class="container">
      <div class="control-game">
        <button id="tour-game" class="btn red darken-4" ng-click="startTour()" ng-show="game.joinOverride">
          Take Tour
        </button>
        <span id="tweet-container">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
        <button id="abandon-game-button" class="btn red darken-4 right" ng-click="abandonGame()">
          Leave Game
        </button>
      </div>
    </div>
  </div>


  <div class="row">
    <div id="gameplay-container">
      <div id="upper-gameplay-container" class="row center">
        <div id="menu-timeremaining-container" class="col s4 m2" style="background-color: white">
          <div id="timer-container">
            <timer></timer>
          </div>
        </div>
        <div id="question-container-outer" class="col s8 m10">
          <question></question>
        </div>
      </div>
      <answers></answers>
    </div>
  </div>
</div>
