<!-- Modal Structure -->
<div id="friends" class="modal modal-fixed-footer">
  <header class="modal-header">
    <h5><i class="fa fa-asterisk"></i>&nbsp;&nbsp;{{ modal-title }}/h5>
  </header>
  <div class="modal-content center">
    <h1><i class="fa fa-info-circle"></i></h1>
    <p>
      {{ modal-body }}
    </p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    <a href="{{ link }}" class="modal-action modal-close waves-effect waves-green btn-flat ">Start</a>
  </div>
</div>