<body>
  <div ng-controller = "IndexController">    
  <header>
    <div class="navbar-fixed">
      <nav class="main-header">
        <div class="container nav-wrapper">
          <a href="/#!" class="cfh-logo black-text"><img src="../img/cfh-logo.png" alt="cfh-logo" /></a>
          <a icon-label="mobile-menu" class="nav-mobile">
            <span></span>
            <span></span>
            <span></span>
          </a>
          <ul ng-controller="IndexController" class="nav-list right hide-on-med-and-down">
            <li class="nav-item"><a class="active" href="#!/dashboard" class="modal-trigger" >Dasboard</a></li>
            <li class="nav-item"><a ng-click="signout()">Logout</a></li>
            <li class="nav-item"><a href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Flocalhost%3A3000%2F%23!%2F&stylesheet=&amounts=" target="_blank"><button class="btn brand-btn-donate">Donate</button></a></li>
          </ul>
        </div>
        <div class="mobile-nav">
          <div class="container" id="mobile-nav"></div>
        </div>
    </div>
    </nav>
  </header>
    <!-- Modal Structure -->
    <!-- Start game friends -->
    <div id="friends" class="modal modal-fixed-footer">
      <header class="modal-header">
        <h5><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Start game session with friends</h5>
      </header>
      <div class="modal-content center">
        <h1><i class="fa fa-info-circle"></i></h1>
        <p>
          This game contains offensive, profane, explicit content created by <a href="#" >Cards Against 
          Humanity&trade;</a> and provided here, uncensored and complete, in digital form. Human Resources made us 
          say that.
        </p>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
        <a href="/play?custom" class="modal-action modal-close waves-effect waves-red btn-flat ">Start</a>
      </div>
    </div>

    <!-- Modal Structure -->
    <!-- Start game friends -->
    <div id="strangers" class="modal modal-fixed-footer">
        <header class="modal-header">
          <h5><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Start game session with strangers</h5>
        </header>
        <div class="modal-content center">
          <h1><i class="fa fa-info-circle"></i></h1>
          <p>
            This game contains offensive, profane, explicit content created by <a href="#" >Cards Against 
            Humanity&trade;</a> and provided here, uncensored and complete, in digital form. Human Resources made us 
            say that.
          </p>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
          <a href="/play" class="modal-action modal-close waves-effect waves-red btn-flat ">Start</a>
        </div>
      </div>

      <!-- Modal Structure -->
      <!-- GameLog, leaderboard  and donations -->
      <div id="game-log" class="modal modal-fixed-footer">
        <header class="modal-header">
          <h5><i class="fa fa-archive"></i>&nbsp;&nbsp;My CFH History</h5>
          <h6>{{gameHistoryError}}</h6>
        </header>
        <div class="modal-content center game-log">
          <div class="row header-body tab-wrapper">
            <div class="col s12 tab-wrapper-body">
                <ul id="tabs-swipe-demo" class="tabs white">
                  <li class="tab col s4"><a class="active tab-header-text" href="#test-swipe-1">Game Log</a></li>
                  <li class="tab col s4"><a class="tab-header-text" href="#test-swipe-2">Leader Board</a></li>
                  <li class="tab col s4"><a class="tab-header-text" href="#test-swipe-3">Donations</a></li>
                </ul>
                <br>
                <div id="test-swipe-1" class="tabs-body col s12">
                  <div class="table-div">
                    <table ng-if="gameLogs.length > 0">
                      <thead>
                        <tr>
                          <th class="log-info">Date</th>
                          <th class="log-info">Number of rounds</th>
                          <th class="log-info">Players</th>
                          <th class="log-info">Winner</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr ng-repeat="gameLog in gameLogs track by $index">
                          <td>{{ gameLog.gameDate }}</td>
                          <td>{{gameLog.gameRound}}</td>
                          <td>{{gameLog.gamePlayers.join(', ')}}</td>
                          <td>{{gameLog.gameWinner}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div ng-if="gameLogs.length == 0">
                      <p><i class="fa fa-info-circle"></i></p>
                      <p>No saved game at this time</p>
                    </div>
                  </div>
                </div>
                <div id="test-swipe-2" class="col s12 tabs-body">
                  <div class="table-div">
                    <table ng-if="leaderboard.length > 0">
                      <thead>
                        <tr>
                          <th class="log-info">S/N</th>
                          <th class="log-info">Player</th>
                          <th class="log-info">Number of wins</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr ng-repeat= "player in leaderboard | orderBy:'-numberOfWins'">
                          <td>{{ $index + 1 }}</td>
                          <td>{{player.username}}</td>
                          <td>{{player.numberOfWins}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div ng-if="leaderboard.length == 0">
                      <p><i class="fa fa-info-circle"></i></p>
                      <p>No game leaderboard at this time</p>
                    </div>
                  </div>
                </div>
                <div id="test-swipe-3" class="col s12 tabs-body">
                  <div class="table-div">
                    <table ng-if="userDonations.length > 0">
                      <thead>
                        <tr>
                          <th class="log-info">Serial Number</th>
                          <th class="log-info">Amount</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr ng-repeat= "donation in userDonations">
                          <td>{{ $index + 1 }}</td>
                          <td>{{donation.amount | currency}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div ng-if="userDonations.length == 0">
                      <p><i class="fa fa-info-circle"></i></p>
                      <p>You are yet to make a donation</p>
                    </div>
                  </div>
                </div>
  
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-red btn-flat ">Ok</a>
        </div>
      </div>
      <!-- end of modal -->

  <div class="white black-text container start-screen section scrollspy" id="home">
    <div class="row">
      <section class="col s12 m5">
        <div class="headline">
          <h2>{{ username }}</h2>
          <p><b>Email:</b> {{ email }}</p>
          <div class="user-rating">
            <li class="avatar-container"><img ng-src="{{ user.avatar }}"></li>
            <li class="rating-details">
              <p><b>Rating:</b>&nbsp;
                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </p>
              <!-- it should be {{ user.level}} not level -->
              <p><b>Level:</b> {{ level }} of {{ maxLevel }}</p>
              <a href="#game-log" class="modal-trigger" ><p class="small-btn">view log</p></a>
            </li>
          </div>
          <div class="brief">
            <h6><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Begin a new game and start earning points.</h6>
            <h6><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Donate and increase your rating.</h6>
            <h6><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Enjoy with friends or strangers.</h6>
          </div>
          <div class="start-control">
            <a href="#friends" class="btn btn-large brand-btn brand-btn-main modal-trigger">
              <i class="fa fa-play"></i>&nbsp;&nbsp;Friends
            </a>
            <a href="#strangers" class="btn btn-large brand-btn brand-btn-main modal-trigger"><i class="fa fa-play"></i>&nbsp;&nbsp;Strangers
                </a>
          </div>
        </div>
      </section>
      <aside class="col s12 m7 stats">
        <header>
          <h4>My Game Stats</h4>
          <h6>{{gameHistoryError}}</h6>
        </header>
        <section>
          <table>
            <thead>
              <tr>
                <th class="date">Game Date</th>
                <th class="played">Games Played</th>
                <th class="won">Games Won</th>
                <th class="lost">Games Lost</th>
                <th class="donation">Donation</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="stat in stats | limitTo:8">
                <td >{{stat.gameDate}}</td>
                <td>{{stat.gameRound}}</td>
                <td>{{stat.gameWon}}</td>
                <td>{{stat.gameLost}}</td>
                <td>{{stat.donation | currency}}</td>
              </tr>
            </tbody>
          </table>
          <br><br>
          <h5 class="blinking">{{progressMessage}}</h5>
          <div ng-show="nextStat()">
            <ul class="pagination">
              <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
              <li class="active"><a href="">1</a></li>
              <li class="waves-effect"><a>2</a></li>
              <li class="waves-effect"><a>3</a></li>
              <li class="waves-effect"><a><i class="material-icons">chevron_right</i></a></li>
            </ul>
          </div>
        </section>


      </aside>
    </div>
  </div>
  <!-- Donate -->
  <section class="cfh-section purple darken-2" id="donate">
    <div class="container">
      <div class="row">
        <div class="col s12 m4 hide-on-small-only non-profit">
          <img class="ribbon" src="../img/nonprofit_ribbon.png" />
        </div>
        <div class="col s12 m8 authUser">
          <h4>Support the cause</h4>
          <p>
            To unlock the community’s incredible giving potential, we've integrated donation widgets ( via <a class="red-text " target="_blank" href="https://crowdrise.com"> crowdrise.com </a> ), along with some not-so-subtle reminders throughout the
            game to give you the opportunity to donate. If you're signed in, and when you donate, we will upgrade your account, award you value points and place a crown on your avatar's head (to remind other players how much better you are than them).
          </p>
          <br>
          <a class="btn brand-btn brand-btn-donate-invert btn-large" href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=http%3A%2F%2Flocalhost%3A3000%2F%23!%2F&stylesheet=&amounts="> 
                Donate
              </a>
        </div>
      </div>
      <br>
      <p class="giving-quote white-text center">"If you don't give back, no one will like you&trade;" -
        <a class="red-text" target="_blank" href="https://crowdrise.com"> crowdrise.com </a>
      </p>
    </div>
  </section>

  <footer class="cfh-section section scrollspy" id="partners">
      <nav class="container group">
        <div class="left">
            <a href="#home" class="cfh-logo black-text"><img src="../img/cfh-logo.png" alt="cfh-logo"/></a>
        </div>
        <div class="right">
          <ul>
            <li><a href="https://crowdrise.com" class="footer-logo"><img src="../img/crowd-rise-logo.jpg" alt="Crowdrise logo" title="Crowdrise home"/></a></li>
            <li><a class="facebook"><i class="fa fa-facebook-square"></i></a></li>
            <li><a class="goodgle"><i class="fa fa-google"></i></a></li>
            <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/andela/rainier-cfh" class="github"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>   
      </nav>
      <div class="center group">
        <p>An open source web application.</p>
        <br>
        <p class="legal group">
          LEGAL STUFF: This game is based on the <a href="http://cardsagainsthumanity.com">Cards Against Humanity&trade;</a> card game, which is CC
          licenced (BY-NC-SA). Cards For Humanity is not affiliated with Cards Against Humanity&trade;. In 
          complying with the Creative Commons&trade; license of the Cards Against Humanity&trade; card game, all 
          proceeds from donations go directly to charity, as managed by crowdrise&trade;. 
        </p>
        <br>
        <a href="https://andela.com" class="footer-logo"><img src="../img/andela-logo.png"  alt="Andela logo" title="Andela home"/></a>
        <p class="made-with-love group center">Made with &hearts;</p>
      </div>
    </footer>
  <script type="text/javascript" src="../js/cfh.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  </div>
</body>
