<div id="player-container" ng-repeat="player in game.players"
  style="background-color:{{colors[player.color]}};"
  class="player-container col s6 m3 l6">
  <div id ="above-czar-container" style="padding:5px;">
    <div id="avatar_" class="col s3 left" style="padding: 5px 0;">
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img ng-src="{{player.avatar}}" class="responsive-img"/>
    </div>
    <div id="player-container-inner" class="col s9">
      <div class="col s8 left">
        <span>{{player.username | upperFirstLetter}}</span>
        <span>{{player.points}}/{{game.pointLimit}}</span>
      </div>
      <div class="col s4 right">
        <div ng-show="isPlayer($index)" id="player-star" class="">
          <img src="../img/11.png"/>
        </div>
        <div id="czar-container" ng-show="currentCzar($index)">
          <span id='the-czar' style="background-color: #000; color: #ffffff; padding: 2px">CZAR</span>
        </div>
      </div>
    </div>
  </div>
</div>
