<div id="question-container-inner">
  <div class="longBlack">
    <span class="question-box" ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' ||
      game.state ==='game dissolved' || game.state === 'awaiting players'">
    </span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div class="" id="startGame" ng-show="game.state === 'awaiting players'">
      <div class="col s4 space-beneath center">
        Finding Players
        <!-- spinner -->
        <div class="" id="loading-container center">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- spinner end -->
      </div>
      <div class="col s8 space-beneath">
        <div class="col s12 m6 center" id="player-count-container" style="margin-bottom: 20px">
          {{game.players.length}} / {{game.playerMaxLimit}} Players
        </div>

        <div class="col s12 m6 modal-trigger" id="start-game-container" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride)"
          href="#popUpModal">
          <div id='start-game-button' class="" style="border: 1px solid #bbbbbb; border-radius: 4px; padding: 5px; cursor: pointer;">
            <span>Start Game</br>with {{game.players.length}} players</span>
          </div>
        </div>
      </div>

      <div class="col s12 m4 center modal-trigger" ng-show="(game.playerIndex === 0 || game.joinOverride)" href="#modal1"
        style="border: 1px solid #bbbbbb;padding: 20px; border-radius: 4px; height: 60px; cursor: pointer;">
        Invite people to join
      </div>
    </div>
    <!--chat window-->
    <div class="chat-window z-depth-4">
      <div class="chat-header">
        Game chat
          <i class="close-icon right material-icons" ng-click="toggleMessage()" ng-show="showMsgBody">arrow_drop_down</i>
          <i class="close-icon right material-icons" ng-click="toggleMessage()" ng-hide="showMsgBody">arrow_drop_up</i>
      </div>
      <div class="chat-body" ng-show="showMsgBody">
          <div id="chat-content">
              <li class="message-list-item" ng-repeat="message in messages">
                    <div class="chat-avatar">
                      <img class='chat-avatar' src='{{message.avatar}}'/>
                    </div>
                    <div class="chat-message wrap-text">
                      <strong class="red-text">@{{message.sender}}</strong>
                          <span class="mute-text">
                              <small class="text-muted">{{message.timeSent}}</small>
                          </span>
                          <br/>
                          {{message.body}}
                    </div>
              </li>
          </div>
      </div>
      <!--<div class="chat-form" ng-show="showMsgBody">-->
        <form class="chat-form" ng-show="showMsgBody" ng-submit="sendMessage()">
            <div class="input-group">
               <input class="chat-input" type="text" ng-model="messageBody" placeholder="Enter message here..." required/>
            </div>
        </form>
      <!--</div>-->
    </div>
    <!--/chat window-->
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you
        feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde
        it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>
</div>
<!--Error modal for users trying to start a game with less than 3 or greater than 12 players -->
<div id="popUpModal" class="modal">
  <!-- Modal content-->
 <div class="modal-content">
    <div class="modal-footer">
      <i class="material-icons modal-close">close</i>
    </div>
    <h4>Cards for humanity</h4>
    <div>
      <p></p>
    </div>
  </div>
  
</div>
<!-- Modal to search and invite other users -->
<div id="searchModal" class="modal">
  <div class="modal-content">
    <div class="modal-footer">
      <i class="material-icons modal-close">close</i>
    </div>
    <h4>Cards for humanity</h4>
    <form ng-submit="searchInviteUsers()">
      <div class="input-field">
        <input type="search" ng-change="searchInviteUsers()" ng-model="searchText" id="search"
          placeholder="Search for friends" required>
        <i class="material-icons">search</i>
      </div>
      <div id='users'></div>
    </form>
    <div class="text-center #cc0000 red white-text" ng-show="!searchedUsers.length && searchText">
      No users found
    </div>
    <div class="text-center #00c851 green accent-4 white-text" ng-show="sentEmailInvite">
      Email invites successfully sent
    </div>

    <div ng-show='searchedUsers.length'>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li class="text-large" ng-repeat='user in searchedUsers'>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-click="addUserInvite(user.name,user.email)" value="user.email" ng-checked="checkUserIsInvited(user.email)"> {{user.name}}
                </label>
              </div>
            </li>
          </ul>
          <br>

        </div>

        <div class="col-sm-6">
          <p ng-show="inviteUsers.length" class="text-danger">Players to be invited</p>
          <ul>
            <li ng-repeat="inviteUser in inviteUsers">{{inviteUser.name}}</li>
          </ul>
          <button class="btn btn-sm btn-danger" ng-show="inviteUsers.length" ng-click="sendInvite()">Invite friends</button>
        </div>
      </div>

    </div>
  </div>
</div>
