.control-game {
  padding-top: 20px;
}

@media (min-width: 992px) {
  #abandon-game-button {
    margin-right: 20px;
  }
}

#gameplay-container {
  padding: 20px 0;
}

#timer-container {
  padding-top: 20px;
}

#upper-gameplay-container {
  background-color: #f5f5f5 ;
  border: 1px solid #eeeeee;
  min-height: 200px;
  // margin: auto;
}

#social-bar-container {
  margin-bottom: 0 !important;
}

#time {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  min-height: 100px;
}

#timer-status-round {
  font-weight: bold;
}


#startGame {
  padding-top: 20px;
}

.space-around {
  margin: 20px;
}

.space-beneath {
  margin-bottom: 20px;
}

#question-container-outer {
  font-size: 1rem;
  color: #757575;
}

@media (min-width: 992px) {
  #question-container-outer {
    font-size: 1rem;
  }
}

#question-container-outer div {
  // border: 1px solid black;
}

.game-section-header {
  color: #b5b5b5;
  font-weight:900;
}

.game-instructions {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.game-end-btn {
  padding: 10px !important;
}

.game-end-btn-wrapper {
  margin: 20px;
}

#smaller-text {
  // font-size: 0.8rem;
  color: #b5b5b5;
}

.question {
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 20px;
}

.card {
  min-height: 200px !important;
  padding: 10px !important;
}

.card.smallest {
  font: 1rem;
  color: #b5b5b5;
}


.invite {
  height: 50px;
  padding: 15px !important;
  vertical-align: middle;
}

@media (min-width: 601px) {
  .invite {
    padding: 12px !important;
  }
}

@media (min-width: 992px) {
  .invite {
    padding: 20px !important;
    height: 60px;
  }
}

.start-game-btn {
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.start-game-btn:hover {
  color: #ffffff;
  background-color: #000000;
  border: none !important;
  transform: translate(0.5px, 0.5px);
}
