@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  font-family: "Montserrat", sans-serif;
}

.tabs .indicator {
background-color: #D81B60 !important;
}

.account {
margin-top: 50px;
height: 850px;
}

.account h5 {
padding: 20px 0px;
}

.account .signup {
padding: 0px 80px;
}

.account .signup .signin {
 margin-bottom: 50px;
}

.account .button button {
padding: 0px 70px;
background-color: #e53935 !important;
margin: 30px 0px 35px 0px;
}

.account p {
padding-bottom: 5px;
}

.account .provider button {
margin-bottom: 30px !important;
background-color: transparent !important;
width: 220px !important;
color: #000 !important;
}

.account .provider .hr {
  margin-top: 30px;
  }

.navbar-fixed a {
color: #e53935;
}
.big-text {
  font-size: 1.9em;
}
.block-span {
  display: block;
}
